.swipeButtons {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  bottom: 7vh;
  width: 100%;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
  padding: 15px !important;
}

.replayIcon {
  color: #f5b748 !important;
}

.closeIcon {
  color: #ec5e6f !important;
}

.starRateIcon {
  color: #62b4f9 !important;
}

.favoriteIcon  {
  color: #76e2b3 !important;
}

.flashOnIcon {
  color: #951dd1 !important;
}